html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
}

.main-container{
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    width: 100%;
}

.map {
    width: calc(100vw);
    height: calc(100vh - 66px) !important;
}

.map-container {
    display: flex;
    vertical-align: middle;
    height: calc(100vh - 66px);
    width: 100vw;
}

.header h1{
   text-shadow: 1px 1px 5px #e6f2ff, 0 0 25px #99ccff, 0 0 5px #004080;
}

.header-menu {
    display: inline-block;
    font-size: 2em;
    float: left;
    margin: 13px 17px 10px;
    cursor: pointer;
}

.header-title {
    display: inline-block;
    margin: 17px 0;
    font-size: 28px;
}

#sidebar-search{
    z-index: 10;
    background-color: #fff;
    width: 300px;
    height: calc(100vh - 66px);
    position: absolute;
    transform: translate(-300px, 0);/* This trasform moves the drawer off canvas. */
    transition: transform 0.5s ease;/* Optionally, we animate the drawer. */
}   

#sidebar-search.open {
    transform: translate(0, 0);
    height: calc(100vh - 66px);
}

#clear-list {
    width: 100%;
    cursor: pointer;
}

.search-items {
    font-size: 16px;
    padding: 5px;
    width: 100%;
}

.list {
    padding: 0 10px;
    margin: 10px 0;
}

.list-item {
    list-style-type: none;
    padding: 0.3em;
    margin: 5px;
    font-size: 15px;
    text-align: left;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.list-item:hover {
    text-decoration: underline;
    background-color: #e6f2ff;
}

.iw-container {
    overflow: auto;
    display: flex;
    /*flex-flow: column;*/
}

.iw-content {
    margin: 7px 0 0 10px;
    text-align: left;
}

.iw-content p {
    margin: 8px 0;
}

.iw-content p:hover {
    color: #0026FF;
}

.iw-photo img {
    margin: 7% 0 5%;
}

.iw-title {
    font-size: 14px;
    margin: 3% 0;
}

.iw-title:hover {
   color: #0026FF;
}

footer {
  border-top: 1px solid #E0E0E0;
  padding: 1em;
  width: 100%;
  font-size: 13px;
  font-style: italic;
}

footer p {
  margin: 0;
}

@media screen and (max-width: 420px) {
    .header-title {
        font-size: 16px
    }
    .header-menu {
        font-size: 1.25em;
        margin: 13px 5px 10px;
    }
    .list-item {
        font-size: 14px;
    }
}

@media screen and (min-width: 421px) and (max-width: 550px){
    .header-title {
        font-size: 20px
    }
    .header-menu {
        font-size: 1.5em;
        margin: 13px 10px 10px;
    }
    .list-item {
        font-size: 14px;
    }
}

@media screen and (min-width: 551px) and (max-width: 650px){
    .header-title {
        font-size: 24px
    }
    .header-menu {
        font-size: 1.75em;
        margin: 13px 5px 10px;
    }
    .list-item {
        font-size: 15px;
    }
}
